body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-top: 20px;
}
h1 {
    text-align: center;
}
form {
    width: 100%;
    padding: 30px;
}
.overing {
    box-shadow: 0 0 0 2px forestgreen;
}
textarea {
    font-family: monospace, serif;
    width: 100%;
    font-size: 16px;
    resize: none;
    border-radius: 4px;
    height: 150px;
}
textarea::placeholder {
    display: block;
    transform: translateY(100%);
    font-size: 30px;
    font-family: 'Xingkai SC', serif;
    color: #aaa3a3;
    text-align: center;
}
